# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/HookProcDLL/.vs/HookProcDLL/v16/.suo
/HookProcDLL/.vs/HookProcDLL/v16/Browse.VC.db
/HookProcDLL/.vs/HookProcDLL/v16/Solution.VC.db
/HookProcDLL/x64/Debug/HookProcDLL.tlog
/HookProcDLL/x64/Debug
/HookSpeechSharp/bin/Debug/net6.0-windows
/HookSpeechSharp/obj
/.vs
